[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "RGreenplum"]
	path = RGreenplum
	url = https://github.com/mwillumz/rgreenplum
